<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/_head.ejs', {title: 'Cadastro'}) %>
	<body>
		<%- include('../partials/_nav.ejs') %>

		<div class="container">
			<div class="auth-container">
				<h2>Cadastrar</h2>
				<form action="/register" method="post">
					<div class="form-control">
						<label for="name">Nome: </label>
						<input
							type="text"
							name="name"
							placeholder="Digite seu nome..."
							required
						/>
					</div>
					<div class="form-control">
						<label for="email">Email: </label>
						<input
							type="email"
							name="email"
							placeholder="Digite seu email..."
							required
						/>
					</div>
					<div class="form-control">
						<label for="password">Senha: </label>
						<input
							type="password"
							name="password"
							placeholder="Digite a senha..."
							required
						/>
					</div>
					<div class="form-control">
						<label for="password-verify">Nome: </label>
						<input
							type="password"
							name="password-verify"
							placeholder="Confirme sua senha..."
							required
						/>
					</div>
					<input type="submit" value="Cadastrar" />
				</form>
			</div>
		</div>

		<%- include('../partials/_footer.ejs') %>
	</body>
</html>
