<nav class="navbar">
	<a href="/">
		<img class="logo" src="/img/toughts_logo.png" alt="Quotes" />
	</a>
	<ul>
		<li>
			<a href="/">Citações</a>
		</li>
		<% if (session.userid) { %>
		<li>
			<a href="/dashboard">Dashboard</a>
		</li>
		<li>
			<a href="/logout">Sair</a>
		</li>
		<% } else { %>
		<li>
			<a href="/login">Login</a>
		</li>
		<li>
			<a href="/register">Cadastrar</a>
		</li>
		<% } %>
	</ul>
</nav>
