<nav id="navbar">
	<a href="/">
		<img src="/img/toughts_logo.png" alt="Quotes" />
	</a>
	<ul>
		<li>
			<a href="/">Citações</a>
			<!-- TODO routes -->
			<a href="/login">Login</a>
			<a href="/register">Cadastrar</a>
		</li>
	</ul>
</nav>
