<nav class="navbar">
	<a href="/">
		<img class="logo" src="/img/toughts_logo.png" alt="Quotes" />
	</a>
	<ul>
		<li>
			<a href="/">Citações</a>
		</li>
		<!-- TODO routes -->
		<li>
			<a href="/login">Login</a>
		</li>
		<li>
			<a href="/register">Cadastrar</a>
		</li>
	</ul>
</nav>
