:root {
	--bg-main: #222;
	--accent: #b289e7;
}

* {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;

	background-color: var(--bg-main);
	color: #fff;
}

/* navbar */
img.logo {
	height: 40px;
}

.navbar {
	padding: 1.2em 1.4em;
	margin-bottom: 1em;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: var(--bg-main);
	border-bottom: 1px solid var(--accent);
}

.navbar ul {
	display: flex;
	list-style: none;
}

.navbar ul li {
	margin-left: 1em;
}

.navbar ul li a {
	text-decoration: none;
	transition: 0.5s;
	font-weight: bold;
}

.navbar ul li a:hover {
	color: var(--accent);
}

/* container */
.container {
	display: flex;
	flex-direction: column;

	padding: 2em;
	min-height: 65vh;
}

.message {
	color: #117be5;
	background-color: #cce5ff;
	border-radius: 5px;
	border: 1px solid #117be5;
	padding: 1em;
	text-align: center;
	margin: 0 auto 2em;
	width: 60%;
}

/* Forms */
.auth-container {
	max-width: 450px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.auth-container h2 {
	color: #fff;

	margin-bottom: 1em;
	padding: 0.3em;
	width: 100px;
	border-left: 4px solid var(--accent);
}

.container a {
	color: var(--accent);
}

.form-control {
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
}

.form-control label {
	font-weight: bold;
	margin-bottom: 0.5em;
}

.form-control input,
.form-control textarea {
	padding: 7px;
	border-radius: 5px;
	border: 1px solid var(--accent);
}

.add-form-container a {
	color: var(--accent);
}

.add-form-container a:hover {
	color: #fff;
}

.add-form-container h1 {
	margin: 1em 0;
	padding: 0.3em;
	border-left: 4px solid var(--accent);
}

.add-form-container form {
	max-width: 30%;
}

.add-form-container label {
	display: none;
}

form input[type='submit'],
.btn {
	background-color: transparent;
	color: var(--accent);
	padding: 0.5em 1.2em;
	border: 2px solid var(--accent);
	border-radius: 5px;
	margin-bottom: 1em;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	transition: 0.5s;
	cursor: pointer;
}

form input[type='submit']:hover,
.btn:hover {
	color: #fff;
	background-color: var(--accent);
}

/* dashboard */
.title-container {
	display: flex;
	justify-content: space-between;
}

.title-container h2 {
	padding: 0.3em;
	border-left: 4px solid var(--accent);
}

.dashboard h3 {
	margin: 1.5em 0;
}

.dashboard .main {
	display: flex;
	flex-direction: column;
}

.dashboard .main .label {
	color: var(--accent);
}

.dashboard .main .label {
	font-size: 1.3em;
	font-weight: bold;

	color: #fff;
}

.dashboard .main .author {
	margin-top: 12px;
}

.dashboard .main .label-author:nth-child(2) {
	color: var(--accent);
}

.dashboard ul {
	list-style: none;
}

.dashboard li {
	padding: 12px;
	border-bottom: 1px solid var(--accent);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dashboard li .action {
	display: flex;
}

.dashboard li .action .btn {
	color: #fff;
	border: 2px solid #fff;
}

.dashboard li .action .btn:nth-child(1) {
	margin-right: 12px;
}

/* footer */
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	border-top: 1px solid var(--accent);
}

footer span {
	color: var(--accent);
	font-weight: bold;
}
