<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/_head.ejs', {title: 'Add Quote'}) %>
	<body>
		<%- include('../partials/_nav.ejs') %>

		<div class="container">
			<% if (messages.message) { %> <%- include('../partials/_messages.ejs') %>
			<% } %>
			<div class="add-form-container">
				<a href="/dashboard">Voltar</a>
				<h1>Add Citação</h1>
				<form action="/quotes/add" method="post">
					<div class="form-control">
						<label for="quote">Citação:</label>
						<textarea
							name="quote"
							cols="30"
							rows="10"
							placeholder="Add sua citação..."
						></textarea>
					</div>
					<div class="form-control">
						<label for="author">Autor</label>
						<input type="text" name="author" placeholder="Autor" />
					</div>
					<input type="submit" value="Add" />
				</form>
			</div>
		</div>

		<%- include('../partials/_footer.ejs') %>
	</body>
</html>
